.viaggio-card {
  transition: transform 0.2s ease;
}

.viaggio-card:hover {
  transform: translateY(-6px);
}

.pallino-stato {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.pallino-passato {
  background-color: gray;
}
.pallino-in-corso {
  background-color: rgb(16, 235, 16);
}
.pallino-futuro {
  background-color: rgb(58, 130, 255);
}
